<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118477192298-4t2f840bgahfnp6g5bqe98dcnj8oh51d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118477192298-4t2f840bgahfnp6g5bqe98dcnj8oh51d</string>
	<key>API_KEY</key>
	<string>AIzaSyDsTi_uz3X1VB8cVLfc4TPaYJcNOAgKpVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>118477192298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uas2020130002</string>
	<key>PROJECT_ID</key>
	<string>m-library-stmik-likmi</string>
	<key>STORAGE_BUCKET</key>
	<string>m-library-stmik-likmi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118477192298:ios:ae635553c97915c0bf9e13</string>
</dict>
</plist>